<% include ../main.ejs %>
<div style="width: 100%;position:absolute;height: 10vh;top: 90%;display: grid;" id="<%=layer.position%>">
  <a
    <%if (withEvent) {%> onmousedown="selectLayer(event)" <% } %>
    class='cta-link'
    style="
      background: <%=setLinkBgColor(layer.settings.layerSettings.shapeStyles.fillColor)%>;
      color: <%=layer.settings.ctaLayerSettings.fontColor%>;
      border: <%=layer.settings.layerSettings.shapeStyles.thickness + 'px solid ' + layer.settings.layerSettings.shapeStyles.borderColor.leftColor%>;
      z-index: <%=currentSlide.layers.length + 1%>;
      border-radius: <%=(isNaN(layer.settings.layerSettings.shapeStyles.round) ? 1.5 : layer.settings.layerSettings.shapeStyles.round / 16) + 'em';%>"
    href="<%=changeCtaLink(layer.settings.ctaLayerSettings.link, currentSlide.position)%>"
    id="<%=`cta-link`%>"><%=layer.settings.ctaLayerSettings.linkTitle%>
  </a>
</div>
