<!doctype html>
<html lang="en">
<% include ampViewerHead.ejs %>
<% let currentSlide = ampStory.cuts.find(cut => cut.position === +current) %>
<% include ./main.ejs %>

<body>
<% include ./override-amp-styles.ejs %>
<amp-story class="single-slide" standalone poster-portrait-src="" publisher-logo-src="">
  <amp-story-page style="text-rendering: auto;background: #eeeeee" id='story' auto-advance-after="<%=currentSlide ? currentSlide.duration : 10%>s" class="container">
    <% let preview = false;
    if (currentSlide) {
    	currentSlide.layers.sort((first, second) => {
    		var keyA = first.position,
          keyB = second.position;
    		if(keyA < keyB) return -1;
    		if(keyA > keyB) return 1;
    		return 0;
    	})
    } %>
    <% if (currentSlide) { %>
      <% currentSlide && currentSlide.layers && currentSlide.layers.map((layer, layerIndex) => { %>
        <% var page = null
          switch (layer.type) {
            case 'text':
            case 'html': %>
              <amp-story-grid-layer template="horizontal">
                <%- include('./components/text-layer.ejs', {withEvent: false, withAnimations: false, layer: layer, currentSlide: currentSlide, preview: preview})%>
              </amp-story-grid-layer>
              <% break;
            case 'shape': %>
              <amp-story-grid-layer template="horizontal">
                <%- include('./components/shape-layer.ejs', {withEvent: false, withAnimations: false, layer: layer, currentSlide: currentSlide, preview: preview})%>
              </amp-story-grid-layer>
              <% break;

            case 'image':
            case 'gifs': %>
              <amp-story-grid-layer template="horizontal">
                <%- include('./components/dirty-image-layer.ejs', {withEvent: true, withAnimations: false, layer: layer, currentSlide: currentSlide, preview: preview})%>
              </amp-story-grid-layer>
              <% break
            case 'video': %>
              <amp-story-grid-layer template="horizontal">
                <%- include('./components/dirty-video-layer.ejs', {withEvent: false, withAnimations: false, layer: layer, currentSlide: currentSlide, preview: preview})%>
              </amp-story-grid-layer>
              <% break
            case 'cta-link': %>
              <%if (layer.settings.ctaLayerSettings.link || layer.settings.ctaLayerSettings.withQueries) {%>
                <% include ./components/dirty-cta-layer.ejs %>
              <% } %>
              <% break
          } %>
      <% }) %>
    <% } %>
  </amp-story-page>
</amp-story>
</body>

</html>
