<%let preview = false;
ampStory.cuts.map(page => { %>
  <amp-story-page
          id="<%= page.position %>"
          auto-advance-after="10s"
          style="background: #eeeeee">
    <% page.layers.sort((first, second) => {
      var keyA = first.position,
              keyB = second.position;
      if(keyA < keyB) return -1;
      if(keyA > keyB) return 1;
      return 0;
    }) %>
    <% page && page.layers && page.layers.map((layer, layerIndex) => { %>
      <amp-story-grid-layer template="fill">
        <div class="grid-parent">
          <div class="grid"
          <% if (layer.type === 'image' &&
                  layer.settings.layerSettings.fullscreen &&
                  layer.settings.generalSettings.rotate !== '-180' &&
                  layer.settings.generalSettings.rotate !== '0' &&
                  layer.settings.generalSettings.rotate !== '180') {
          %>
               style="display:block;"
                  <% } %>
          >
            <% switch (layer.type) {
            case 'text': %>
            <div
                    class="drag-item animate"
                    style="
                            left: <%= ((layer.settings.generalSettings.offsetY / ampStory.initialWidth) * 100) + '%'%>;
                            top: <%= ((layer.settings.generalSettings.offsetX / ampStory.initialHeight) * 100) + '%'%>;"
            <% if (layer.settings.animateIn && !preview){ %>
                    animate-in="<%= layer.settings.animateIn %>"
                    <% } %>
            <% if (layer.settings.animateDuration){ %>
                    animate-in-duration="<%= layer.settings.animateDuration %>s"
                    <% } %>
            <% if (layer.settings.animateDelay){ %>
                    animate-in-delay="<%= layer.settings.animateDelay %>s"
                    <% } %>
            >
              <div draggable="true" id="layer<%=layer.position%>"
                   style=" transform: <%='rotate(' + layer.settings.generalSettings.rotate + 'deg)'%>;">
                <% include layers/text.ejs %>
              </div>
            </div>
            <% break;

            case 'html': %>
            <div
                    class="drag-item animate"
                    style="
                            left: <%= ((layer.settings.generalSettings.offsetY / ampStory.initialWidth) * 100) + '%'%>;
                            top: <%= ((layer.settings.generalSettings.offsetX / ampStory.initialHeight) * 100) + '%'%>;"
            <% if (layer.settings.animateIn && !preview){ %>
                    animate-in="<%= layer.settings.animateIn %>"
                    <% } %>
            <% if (layer.settings.animateDuration){ %>
                    animate-in-duration="<%= layer.settings.animateDuration %>s"
                    <% } %>
            <% if (layer.settings.animateDelay){ %>
                    animate-in-delay="<%= layer.settings.animateDelay %>s"
                    <% } %>
            >
              <div draggable="true" id="layer<%=layer.position%>"
                   style=" transform: <%='rotate(' + layer.settings.generalSettings.rotate + 'deg)'%>;">
                <% include layers/text.ejs %>
              </div>
            </div>
            <% break;

            case 'shape': %>
            <div
                    class="drag-item animate"
                    style="
                            position: absolute;
                            width: <%=parseInt((100 * (Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) / ampStory.initialWidth, 10) + '%';%>;
                            height: <%=parseInt((100 * (Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))))) / ampStory.initialHeight, 10) + '%';%>;
                            left: <%= ((layer.settings.generalSettings.offsetY / ampStory.initialWidth) * 100) + '%'%>;
                            top: <%= ((layer.settings.generalSettings.offsetX / ampStory.initialHeight) * 100) + '%'%>;"
            <% if (layer.settings.animateIn && !preview){ %>
                    animate-in="<%= layer.settings.animateIn %>"
                    <% } %>
            <% if (layer.settings.animateDuration){ %>
                    animate-in-duration="<%= layer.settings.animateDuration %>s"
                    <% } %>
            <% if (layer.settings.animateDelay){ %>
                    animate-in-delay="<%= layer.settings.animateDelay %>s"
                    <% } %>
            >
              <div
                      id="layer<%=layer.position%>"
                      draggable="true"
                      class="rotate-wrapper"
                      style="
                              position: absolute;
                              width: <%=(100 * layer.settings.layerSettings.width) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%'%>;
                              height: <%=(100 * layer.settings.layerSettings.height) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%'%>;
                              transform: <%='rotate(' + layer.settings.generalSettings.rotate + 'deg)'%>;
                              left: <%=(100 * layer.settings.generalSettings.innerOffsetX) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%';%>;
                              top: <%=(100 * layer.settings.generalSettings.innerOffsetY) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180)))))  + '%'%>;"
              >
                <% include layers/shape.ejs %>
              </div>
            </div>
            <% break;


            case 'image': %>
            <div
            <%if (layer.settings.layerSettings.fullscreen) {%>
              class="full-screan-image drag-item animate"
              style="
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0%;
              top: 0%"
                    <%}%>
              class="drag-item animate"
              style="
                      position: absolute;
                      width: <%=parseInt((100 * (Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) / ampStory.initialWidth, 10) + '%';%>;
                      height: <%=parseInt((100 * (Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))))) / ampStory.initialHeight, 10) + '%';%>;
                      left: <%= ((layer.settings.generalSettings.offsetY / ampStory.initialWidth) * 100) + '%'%>;
                      top: <%= ((layer.settings.generalSettings.offsetX / ampStory.initialHeight) * 100) + '%'%>;"
            <% if (layer.settings.animateIn && !preview){ %>
              animate-in="<%= layer.settings.animateIn %>"
                    <% } %>
            <% if (layer.settings.animateDuration){ %>
              animate-in-duration="<%= layer.settings.animateDuration %>s"
                    <% } %>
            <% if (layer.settings.animateDelay){ %>
              animate-in-delay="<%= layer.settings.animateDelay %>s"
                    <% } %>
            >
              <div draggable="true"
                   id="layer<%=layer.position%>"
                      <%if (layer.settings.layerSettings.fullscreen) {%>
                   style="
                           position: absolute;
                           top: 50%;
                           left: 50%;
                           transform: <%=getRotateValue(layer)%>;
                           "
                      <% } else { %>
                   class="rotate-wrapper"
                   style="
                           position: absolute;
                           width: <%=(100 * layer.settings.layerSettings.width) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%'%>;
                           height: <%=(100 * layer.settings.layerSettings.height) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%'%>;
                           transform: <%='rotate(' + layer.settings.generalSettings.rotate + 'deg)'%>;
                           left: <%=(100 * layer.settings.generalSettings.innerOffsetX) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%';%>;
                           top: <%=(100 * layer.settings.generalSettings.innerOffsetY) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180)))))  + '%'%>;"
                      <% } %>
              >
                <% include layers/image.ejs %>
              </div>
            </div>
            <% break


            case 'video': %>
            <div
            <%if (layer.settings.layerSettings.fullscreen) {%>
              class="full-screan-image drag-item animate"
              style="
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0%;
              top: 0%"
                    <%} else {%>
              class="drag-item animate"
              style="
                      position: absolute;
                      width: <%=parseInt((100 * (Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) / ampStory.initialWidth, 10) + '%';%>;
                      height: <%=parseInt((100 * (Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))))) / ampStory.initialHeight, 10) + '%';%>;
                      left: <%= ((layer.settings.generalSettings.offsetY / ampStory.initialWidth) * 100) + '%'%>;
                      top: <%= ((layer.settings.generalSettings.offsetX / ampStory.initialHeight) * 100) + '%'%>;"
                    <% } %>
            <% if (layer.settings.animateIn && !preview){ %>
              animate-in="<%= layer.settings.animateIn %>"
                    <% } %>
            <% if (layer.settings.animateDuration){ %>
              animate-in-duration="<%= layer.settings.animateDuration %>s"
                    <% } %>
            <% if (layer.settings.animateDelay){ %>
              animate-in-delay="<%= layer.settings.animateDelay %>s"
                    <% } %>
            >
              <div draggable="true"
                   id="layer<%=layer.position%>"
                      <%if (layer.settings.layerSettings.fullscreen) {%>
                   class="full-screan-image"
                   style="width: 100%;height: 100%;transform: <%='rotate(' + layer.settings.generalSettings.rotate + 'deg)'%>;"
                      <%} else {%>
                   class="rotate-wrapper"
                   style="
                           position: absolute;
                           width: <%=(100 * layer.settings.layerSettings.width) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%'%>;
                           height: <%=(100 * layer.settings.layerSettings.height) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%'%>;
                           transform: <%='rotate(' + layer.settings.generalSettings.rotate + 'deg)'%>;
                           left: <%=(100 * layer.settings.generalSettings.innerOffsetX) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))))) + '%';%>;
                           top: <%=(100 * layer.settings.generalSettings.innerOffsetY) / parseInt((Math.abs(layer.settings.layerSettings.width * Math.sin(layer.settings.generalSettings.rotate * (Math.PI / 180))) + Math.abs(layer.settings.layerSettings.height * Math.cos(layer.settings.generalSettings.rotate * (Math.PI / 180)))))  + '%'%>;"
                      <% } %>
                   class="drag-item">
                <% include layers/video.ejs %>
              </div>
            </div>
            <% break
            } %>
          </div>
        </div>
      </amp-story-grid-layer>
    <% }) %>
  </amp-story-page>
<% }) %>
