<!doctype html>
<html lang="en">
<% include ampViewerHead.ejs %>
<% let currentSlide = ampStory.cuts.find(cut => {
  return cut.position === +current
})
%>
<% include ./main.ejs %>

<body>
<script>
	window.onload = () => {
		var css = 'amp-story-bookend {display: none!important;} .i-amphtml-story-bookend-active amp-story-page[active] {transition: none!important; filter: none!important;} .i-amphtml-story-bookend-active amp-story-page[active]:after {content: none!important}',
			head = document.head || document.getElementsByTagName('head')[0],
			style = document.createElement('style');
		style.type = 'text/css';
		if (style.styleSheet) {
			style.styleSheet.cssText = css;
		} else {
			style.appendChild(document.createTextNode(css));
		};
		head.appendChild(style);
	};
</script>

<amp-story class="single-slide" standalone poster-portrait-src="" publisher-logo-src="">
  <amp-story-page style="text-rendering: auto;background: #eeeeee" id='story' auto-advance-after="<%=currentSlide ? currentSlide.duration : 10%>s" class="container">
    <% let preview = false;
    if (currentSlide) {
      currentSlide.layers.sort((first, second) => {
        var keyA = first.position,
          keyB = second.position;
        if(keyA < keyB) return -1;
        if(keyA > keyB) return 1;
        return 0;
      })
    } %>
    <% if (currentSlide) { %>
      <% currentSlide && currentSlide.layers && currentSlide.layers.map((layer, layerIndex) => { %>
        <% var page = null
          switch (layer.type) {
          case 'text':
        case 'html': %>
        <amp-story-grid-layer template="horizontal">
          <%- include('./components/text-layer.ejs', {withEvent: false, withAnimations: true, layer: layer, currentSlide: currentSlide, preview: preview})%>
        </amp-story-grid-layer>
        <% break;

        case 'shape': %>
        <amp-story-grid-layer template="horizontal">
          <%- include('./components/shape-layer.ejs', {withEvent: false, withAnimations: true, layer: layer, currentSlide: currentSlide, preview: preview})%>
        </amp-story-grid-layer>
        <% break;

          case 'image':
        case 'gifs': %>
        <% if (layer.content.image && layer.content.image) { %>
          <% if (((!['pan-left', 'pan-right', 'pan-up', 'pan-down'].includes(layer.settings.animateIn) || !layer.settings.animateIn) && (!layer.content.compressed && !zipExport)) ||
            (((layer.content.compressed || zipExport) && !layer.settings.layerSettings.fullscreen)) ||
            ['rotate-in-right', 'rotate-in-left', 'twirl-in'].includes(layer.settings.animateIn) && (layer.content.compressed || zipExport)) { %>
            <amp-story-grid-layer template="horizontal">
              <%- include('./components/image-layer.ejs', {layer: layer, currentSlide: currentSlide, preview: preview})%>
            </amp-story-grid-layer>
          <% } else { %>
            <amp-story-grid-layer template="fill">
              <%- include('layers/image.ejs', {withAnimations: true, layer: layer, zipExport: zipExport }); %>
            </amp-story-grid-layer>
          <% } %>
        <% } %>
        <% break

        case 'video': %>
        <% if (layer.content.video && layer.content.video) { %>
          <% if (((!['pan-left', 'pan-right', 'pan-up', 'pan-down'].includes(layer.settings.animateIn) || !layer.settings.animateIn) && (!layer.content.compressed && !zipExport)) ||
            (((layer.content.compressed || zipExport) && !layer.settings.layerSettings.fullscreen)) ||
            ['rotate-in-right', 'rotate-in-left', 'twirl-in'].includes(layer.settings.animateIn) && (layer.content.compressed || zipExport)) { %>
            <amp-story-grid-layer template="horizontal">
              <%- include('./components/video-layer.ejs', {layer: layer, currentSlide: currentSlide, preview: preview})%>
            </amp-story-grid-layer>
          <% } else { %>
            <amp-story-grid-layer template="fill">
              <%- include('layers/video.ejs', {withAnimations: true, layer: layer, duration: currentSlide.duration, zipExport: zipExport }); %>
            </amp-story-grid-layer>
          <% } %>
        <% } %>
        <% break
        case 'cta-link': %>
          <%- include('./components/dirty-cta-layer.ejs', {withEvent: false, layer: layer, currentSlide: currentSlide})%>
        <% break } %>
      <% }) %>
    <% } %>
  </amp-story-page>
</amp-story>

<script type="text/javascript" src="/resize-files?path=amp-to-html/dist/js/subjx.js"></script>
</body>

</html>
