<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async custom-element="amp-video" src=<%=ampVideoPath%>></script>
    <script async src=<%=v0Path%>></script>
    <script async custom-element="amp-story"
            src=<%=ampStoryPath%>></script>
    <% if (ampAnimationPath !== null) { %>
    <script async custom-element="amp-animation" src=<%=ampAnimationPath%>></script>
    <% } %>
    <title><%= ampStory.title%></title>
    <link rel="canonical" href="https://test-cutnut-tv.cdn.ampproject.org/c/s/test.cutnut.tv/amp/<%=ampStory.key%>" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        <% if (ampStory.cuts.length !== 0) {%>
        <% let layer = ampStory.cuts[0].layers[0] %>
        <% for (let cutIndex = 0; cutIndex < ampStory.cuts.length; cutIndex++) {
          let cut = ampStory.cuts[cutIndex]
          for (let layerIndex = 0; layerIndex < ampStory.cuts[cutIndex].layers.length; layerIndex++) {
            let layer = ampStory.cuts[cutIndex].layers[layerIndex]
            if (layer.type === 'shape') { %>
        .<%= layer.content.value + ampStory.cuts[cutIndex].position + layer.position %> {
            width: 100%;
            height: 100%;
            transform: scale(1.4);
        <% if (layer.content.value) { %>
            background: url(<%- include('shapes/' + layer.content.value, {layer: layer}) %>) no-repeat;
        <% } %>
        }
        <% }}
          }
        }
        %>

        <% include ./fonts/alegreya.ejs %>
        <% include ./fonts/anonymousPro.ejs %>
        <% include ./fonts/archivonarrow.ejs %>
        <% include ./fonts/arvo.ejs %>
        <% include ./fonts/biorhyme.ejs %>
        <% include ./fonts/cabin.ejs %>
        <% include ./fonts/cardo.ejs %>
        <% include ./fonts/chivo.ejs %>
        <% include ./fonts/cormorant.ejs %>
        <% include ./fonts/crimsontext.ejs %>
        <% include ./fonts/domine.ejs %>
        <% include ./fonts/eczar.ejs %>
        <% include ./fonts/firasans.ejs %>
        <% include ./fonts/ibmplexsans.ejs %>
        <% include ./fonts/inconsolata.ejs %>
        <% include ./fonts/inknutantiqua.ejs %>
        <% include ./fonts/karla.ejs %>
        <% include ./fonts/lato.ejs %>
        <% include ./fonts/librebaskerville.ejs %>
        <% include ./fonts/librefranklin.ejs %>
        <% include ./fonts/lora.ejs %>
        <% include ./fonts/merriweather.ejs %>
        <% include ./fonts/montserrat.ejs %>
        <% include ./fonts/neuton.ejs %>
        <% include ./fonts/opensans.ejs %>
        <% include ./fonts/playfairdisplay.ejs %>
        <% include ./fonts/poppins.ejs %>
        <% include ./fonts/prozalibre.ejs %>
        <% include ./fonts/ptsans.ejs %>
        <% include ./fonts/ptserif.ejs %>
        <% include ./fonts/raleway.ejs %>
        <% include ./fonts/roboto.ejs %>
        <% include ./fonts/robotoslab.ejs %>
        <% include ./fonts/rubik.ejs %>
        <% include ./fonts/sourcesanspro.ejs %>
        <% include ./fonts/sourceserifpro.ejs %>
        <% include ./fonts/spectral.ejs %>
        <% include ./fonts/worksans.ejs %>
        <% include ./fonts/custom.ejs %>

        @font-face {
            font-family: 'Montserrat';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Montserrat-Regular.ttf') format('truetype');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Montserrat-Regular.ttf') format('truetype');
        <% } %>
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'Montserrat';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Montserrat-Light.ttf') format('truetype');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Montserrat-Light.ttf') format('truetype');
        <% } %>
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'Montserrat';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Montserrat-LightItalic.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Montserrat-LightItalic.ttf');
        <% } %>
            font-weight: 300;
            font-style: italic;
        }

        @font-face {
            font-family: 'Montserrat';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Montserrat-Medium.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Montserrat-Medium.ttf');
        <% } %>
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'Montserrat';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Montserrat-MediumItalic.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Montserrat-MediumItalic.ttf');
        <% } %>
            font-weight: 500;
            font-style: italic;
        }

        @font-face {
            font-family: 'Helvetica Neue';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/HelveticaNeue-Medium.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/HelveticaNeue-Medium.ttf');
        <% } %>
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'Helvetica Neue';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/HelveticaNeue-Light.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/HelveticaNeue-Light.ttf');
        <% } %>
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'Montserrat';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Montserrat-Bold.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Montserrat-Bold.ttf');
        <% } %>
            font-weight: 700;
            font-style: normal;
        }
        @font-face {
            font-family: 'Montserrat';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Montserrat-BoldItalic.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Montserrat-BoldItalic.ttf');
        <% } %>
            font-weight: 700;
            font-style: italic;
        }
        @font-face {
            font-family: 'Avenir';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Avenir.ttc');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Avenir.ttc');
        <% } %>
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'Didot';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Didot.ttc');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Didot.ttc');
        <% } %>
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'GillSans';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/GillSans.ttc');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/GillSans.ttc');
        <% } %>
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'Helvetica';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Helvetica.ttc');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Helvetica.ttc');
        <% } %>
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto-Regular';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Roboto-Regular.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Roboto-Regular.ttf');
        <% } %>
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'Verdana';
        <% if (fontPath.includes('/fonts')) { %>
            src: url('<%=fontPath%>/Verdana.ttf');
        <% } else { %>
            src: url('<%=fontPath%>/src/public/fonts/Verdana.ttf');
        <% } %>
            font-weight: 400;
            font-style: normal;
        }


        amp-story.single-slide > div {
            display: none;
        }
        .disable-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
        }
        amp-story-grid-layer:not(#full-screen) {
            padding: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
        }
        .container:not(#full-screen) {
            background-color: #eeeeee;
        }

        .grid-parent {
            position: relative;
        }

        .grid {
            height: 100%;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            position: absolute;
        }
        #story img, #story video {
            object-fit: fill;
        }

        #story .full-screan-image img {
            object-fit: cover;
        }

        .item {
            height: 100%;
            align-self: center;
            z-index: 1;
            position: relative;
        }
        .item.text {
            position: relative;
            align-self: center;
            justify-self: stretch;
            /*height: 150px;*/
        }
        .item.text .inner-item {
            align-self: center;
            position: absolute;
        }
        .text-container p {
            white-space: nowrap;
        }
        .text-content {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .single-text {
            width: 100%;
        }
        .flex-container {
            display: flex;
            position: relative;
        }

        .flex-container-full {
            display: flex;
            position: initial;
        }

        .image {
            align-self: center;
            justify-self: center;
        }

        .image-full {
            overflow: hidden;
            align-self: center;
            justify-self: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .amp-img-full {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img {
            width: 100%;
            height: 100%;
            pointer-events: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        amp-img {
            pointer-events: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

        .single-page-item:hover {
            box-shadow: 0 0 0 1px #28b9ff;
        }

        .drag-item {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        video {
            object-fit: fill;
        }

        .small-image img, .small-video video {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        #full-screen {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        #full-screen video {
            object-fit: cover;
        }

        .full-screan-image {
            width: 100%;
            height: 100%;
        }
        .full-screan-image img {
            object-fit: cover;
        }

        .single-text div {
            font-family: Montserrat;
            font-weight: 500;
            white-space: nowrap;
        }
        /*Css shapes*/
        .shape {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .square, .triangle, .circle {
            transform: scale(1.6);
        }

        .line {
            transform: scale(1.3);
        }
        .inner {
            position: absolute;
            z-index: 11;
        }
        .outer {
            position: absolute;
            z-index: 1;
        }
        .square .inner,
        .frame .inner {
            box-sizing: content-box;
        }
        .circle .inner,
        .rim .inner {
            border-radius: 50%;
            width: 0;
            height: 0;
            box-sizing: content-box;
        }
        .triangle {
            position: relative;
            display: flex;
            justify-content: center;
        }
        .line .outer,
        .line .inner {
            position: absolute;
        }
        .line .outer div,
        .line .inner div {
            width: 0;
            height: 0;
            left: 0;
        }
        .line .outer div:first-child,
        .line .inner div:first-child {
            transform: translateY(1.5%);
        }
        .line .outer div:last-child,
        .line .inner div:last-child {
            transform: translateY(-1.5%);
        }

        @media screen and (max-width: 1023px) {
            .single-text {
                font-size: 2.6vw;
            }
            .animate {
                font-size: 3.434vw;
            }
            .rotate-wrapper {
                font-size: 3.434vw;
            }
            @media screen and (max-aspect-ratio: 9/16) {
                .animate {
                    font-size: 1.945vh;
                }
                .single-text {
                    font-size: 1.45vh;
                }
                .full-screan-video-em {
                    font-size: 1.88vh;
                }
            }
        }
        @media (max-width: 1023px) {
            @media screen and (min-aspect-ratio: 9/12) {
                .single-text {
                    font-size: 1.55vh ;
                }
                .animate {
                    font-size: 2vh;
                }
                amp-story-grid-layer {
                    height: 100vh;
                    margin: auto;
                    width: 56.25vh;
                }
                .rotate-wrapper {
                    font-size: 2vh;
                }
                .full-screan-video-em {
                    font-size: 1.88vh;
                }
            }

            @media screen and (max-aspect-ratio: 9/20) {
                .single-text {
                    font-size: 2.4vw;
                }
                div.animate {
                    font-size: 3.2vw;
                }
                div.full-screan-video-em {
                    font-size: 3.33vw;
                }
                amp-story-grid-layer {
                    height: 156.25vw;
                    margin: auto;
                    width: 100vw;
                }
            }
        }
        @media screen and (min-width: 1024px) {
            .single-text {
                font-size: 1.53vh;
            }
            div.animate {
                font-size: 2vh;
            }
            div.full-screan-video-em {
                font-size: 2vh;
            }
        }
    </style>
</head>
