<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async custom-element="amp-video" src=<%=ampVideoPath%>></script>
    <script async src=<%=v0Path%>></script>
    <script async custom-element="amp-story"
            src=<%=ampStoryPath%>></script>
    <% if (ampAnimationPath !== null) { %>
    <script async custom-element="amp-animation" src=<%=ampAnimationPath%>></script>
    <% } %>
    <title><%= ampStory.title%></title>
    <link rel="canonical" href="https://test-cutnut-tv.cdn.ampproject.org/c/s/test.cutnut.tv/amp/<%=ampStory.key%>" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>

        <% include ./fonts/custom.ejs %>
        <% if (ampStory.fromPreview || !v0Path.includes('https')) { %>
        <% include ./fonts/alegreya.ejs %>
        <% include ./fonts/anonymousPro.ejs %>
        <% include ./fonts/archivonarrow.ejs %>
        <% include ./fonts/arvo.ejs %>
        <% include ./fonts/biorhyme.ejs %>
        <% include ./fonts/cabin.ejs %>
        <% include ./fonts/cardo.ejs %>
        <% include ./fonts/chivo.ejs %>
        <% include ./fonts/cormorant.ejs %>
        <% include ./fonts/crimsontext.ejs %>
        <% include ./fonts/domine.ejs %>
        <% include ./fonts/eczar.ejs %>
        <% include ./fonts/firasans.ejs %>
        <% include ./fonts/ibmplexsans.ejs %>
        <% include ./fonts/inconsolata.ejs %>
        <% include ./fonts/inknutantiqua.ejs %>
        <% include ./fonts/karla.ejs %>
        <% include ./fonts/lato.ejs %>
        <% include ./fonts/librebaskerville.ejs %>
        <% include ./fonts/librefranklin.ejs %>
        <% include ./fonts/lora.ejs %>
        <% include ./fonts/merriweather.ejs %>
        <% include ./fonts/montserrat.ejs %>
        <% include ./fonts/neuton.ejs %>
        <% include ./fonts/opensans.ejs %>
        <% include ./fonts/playfairdisplay.ejs %>
        <% include ./fonts/poppins.ejs %>
        <% include ./fonts/prozalibre.ejs %>
        <% include ./fonts/ptsans.ejs %>
        <% include ./fonts/ptserif.ejs %>
        <% include ./fonts/raleway.ejs %>
        <% include ./fonts/roboto.ejs %>
        <% include ./fonts/robotoslab.ejs %>
        <% include ./fonts/rubik.ejs %>
        <% include ./fonts/sourcesanspro.ejs %>
        <% include ./fonts/sourceserifpro.ejs %>
        <% include ./fonts/spectral.ejs %>
        <% include ./fonts/worksans.ejs %>


        .resizable .resizers .resizer{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
            border: 3px solid #4286f4;
            position: absolute;
            z-index: 1;
        }
        .resizable .resizers .resizer.top-left {
            left: -5px;
            top: -5px;
            cursor: nwse-resize;
        }
        .resizable .resizers .resizer.top-right {
            right: -5px;
            top: -5px;
            cursor: nesw-resize;
        }
        .resizable .resizers .resizer.bottom-left {
            left: -5px;
            bottom: -5px;
            cursor: nesw-resize;
        }
        .resizable .resizers .resizer.bottom-right {
            right: -5px;
            bottom: -5px;
            cursor: nwse-resize;
        }

        .rotate {
            background-color: #23241f;
            width: 1px;
            height: 50px;
            position: absolute;
            display: none;
            left: 50%;
            top: -50px;
        }
        .rotate:before {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            display: flex;
            left: -4px;
            top: -9px;
            border-radius: 4px;
            border: 1px solid black;
            cursor: alias;
        }
        <% } %>

        amp-story.single-slide > div {
            display: none;
        }
        .disable-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
        }
        amp-story-grid-layer:not(#full-screen) {
            padding: 0;
        }
        .container:not(#full-screen) {
            background-color: #eeeeee;
        }

        .grid {
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            position: absolute;
        }
        #story img, #story video {
            object-fit: fill;
        }

        #story .full-screan-image img {
            object-fit: cover;
        }


        .item {
            height: 100%;
            align-self: center;
            z-index: 1;
            position: relative;
        }
        .item.text {
            position: relative;
            align-self: center;
            justify-self: stretch;
            /*height: 150px;*/
        }
        .item.text .inner-item {
            align-self: center;
            position: absolute;
        }
        .text-container p {
            white-space: nowrap;
        }
        .text-content {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .single-text {
            width: 100%;
        }
        .flex-container {
            display: flex;
            position: relative;
        }

        .flex-container-full {
            display: flex;
            position: initial;
        }

        .image {
            align-self: center;
            justify-self: center;
        }

        .image-full {
            overflow: hidden;
            align-self: center;
            justify-self: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .amp-img-full {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img {
            width: 100%;
            height: 100%;
            pointer-events: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        amp-img {
            pointer-events: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }


        .drag-item {
            position: absolute;
            top: 50%;
            left: 35%;
        }

        video {
            object-fit: fill;
        }

        .small-image img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        #full-screen {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        #full-screen video {
            object-fit: cover;
        }

        .full-screan-image {
            width: 100%;
            height: 100%;
        }
        .full-screan-image img {
            object-fit: cover;
        }

        .single-text div {
            font-family: Montserrat;
            font-weight: 500;
            white-space: nowrap;
            text-rendering: auto;
        }

        .single-text span {
            text-decoration: inherit;
            white-space: pre;
            line-height: 1.4em;
            white-space: pre-wrap;
            word-break: break-word;
            background-color: inherit;
        }

        .layer-border {
            box-shadow: 0 0 2px 2px white;
            outline: 1px solid black;
        }

        @media screen and (max-width: 1023px) {
            .single-text {
                font-size: 2.6vw;
            }
            .animate {
                font-size: 3.434vw;
            }
            .rotate-wrapper {
                font-size: 3.434vw;
            }
        }
        @media (max-width: 1023px) {
            @media screen and (min-aspect-ratio: 9/12) {
                .single-text {
                    font-size: 1.55vh ;
                }
                .animate {
                    font-size: 1.94vh;
                }
                amp-story-grid-layer {
                    height: 100vh;
                    margin: auto;
                    width: 56.25vh;
                }
                .rotate-wrapper {
                    font-size: 2vh;
                }
            }

            @media screen and (max-aspect-ratio: 9/20) {
                .single-text {
                    font-size: 2.4vw;
                }
                div.animate {
                    font-size: 3.48vw;
                }
                amp-story-grid-layer {
                    height: 177.69vw;
                    margin: auto;
                    width: 100vw;
                }
            }
        }
        @media screen and (min-width: 1024px) {
            .single-text {
                font-size: 1.53vh;
            }
            div.animate {
                font-size: 2.07vh;
            }
        }
    </style>
    <% if (ampStory.fromPreview || !v0Path.includes('https')) { %>
        <link rel="stylesheet" href="/resize-files?path=amp-to-html/dist/style/subjx.css"/>
    <% } %>
</head>
