<div
  class="shape circle"
  style="
    width:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width + +layer.settings.layerSettings.shapeStyles.thickness * 2) : 100 %>px;
    height:<%= layer.settings.layerSettings.height ? (+layer.settings.layerSettings.height + +layer.settings.layerSettings.shapeStyles.thickness * 2) : 100 %>px;
    <% if (layer.settings.generalSettings.shadow > 0) { %>
      filter:drop-shadow(0px 0px <%= layer.settings.generalSettings.shadow / 10 %>px #000000)
    <% } %>
  "
>
  <div
    class="inner"
    style="
      width:<%= layer.settings.layerSettings.width ? +layer.settings.layerSettings.width : 100 %>px;
      height:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height : 100 %>px;
      background-color:<%= layer.settings.layerSettings.shapeStyles.fillColor ? layer.settings.layerSettings.shapeStyles.fillColor : '#ee2222' %>;
      border:<%= layer.settings.layerSettings.shapeStyles.thickness %>px solid <%= layer.settings.layerSettings.shapeStyles.borderColor %>;"
  ></div>
</div>
