<div
  class="shape line"
  style="
    width:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2) : 10 %>px;
    height:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height + (+layer.settings.layerSettings.shapeStyles.thickness * 2) : 70 %>px;
    transform:rotate(90deg);
    <% if (layer.settings.generalSettings.shadow > 0) { %>
      filter:drop-shadow(0px 0px <%= +layer.settings.generalSettings.shadow / 10 %>px #000000)
    <% } %>
  "
>
  <div
    class="inner"
    style="
      width:<%= layer.settings.layerSettings.width ? +layer.settings.layerSettings.width / 7 : 10 %>px;
      height:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height + +layer.settings.layerSettings.shapeStyles.thickness : 70 %>px;
      background-color:<%= layer.settings.layerSettings.shapeStyles.fillColor %>"
  >
    <div
      class="topInner"
      style="
        position:absolute;
        top:-<%= layer.settings.layerSettings.width ? ((+layer.settings.layerSettings.width / 7) / 2) : 5 %>px;
        border-left:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width / 7) / 2 : 5 %>px solid transparent;
        border-right:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width / 7) / 2 : 5 %>px solid transparent;
        border-bottom:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width / 7) / 2 : 5 %>px solid <%= layer.settings.layerSettings.shapeStyles.fillColor %>;"
    ></div>
    <div
      class="bottomInner"
      style="
        position:absolute;
        bottom:-<%= layer.settings.layerSettings.width ? ((+layer.settings.layerSettings.width / 7) / 2) : 5 %>px;
        border-left:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width / 7) / 2 : 5 %>px solid transparent;
        border-right:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width / 7) / 2 : 5 %>px solid transparent;
        border-top:<%= layer.settings.layerSettings.width ?(+layer.settings.layerSettings.width / 7) / 2 : 5 %>px solid <%= layer.settings.layerSettings.shapeStyles.fillColor %>;"
    ></div>
  </div>
  <div
    class="outer"
    style="
      width:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2) : 10 %>px;
      height:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height + (+layer.settings.layerSettings.shapeStyles.thickness * 2) : 70 %>px;
      background-color:<%= layer.settings.layerSettings.shapeStyles.borderColor %>;
      opacity: <%= layer.settings.layerSettings.shapeStyles && layer.settings.layerSettings.shapeStyles.thickness && layer.settings.layerSettings.shapeStyles.thickness > 0 ? '1' : '0' %>;
    "
  >
    <div
      class="topOuter"
      style="
        position:absolute;
        top:-<%= layer.settings.layerSettings.width ? (((+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2) : 5 %>px;
        border-left:<%= layer.settings.layerSettings.width ? ((+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2 : 5 %>px solid transparent;
        border-right:<%= layer.settings.layerSettings.width ? ((+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2 : 5 %>px solid transparent;
        border-bottom:<%= layer.settings.layerSettings.width ? ((+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2 : 5 %>px solid <%= layer.settings.layerSettings.shapeStyles.borderColor %>;"
    ></div>
    <div
      class="bottomOuter"
      style="
        position:absolute;
        bottom:-<%= layer.settings.layerSettings.width ? (((+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2) : 5 %>px;
        border-left:<%= layer.settings.layerSettings.width ? ((+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2 : 5 %>px solid transparent;
        border-right:<%= layer.settings.layerSettings.width ? ((+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2 : 5 %>px solid transparent;
        border-top:<%= layer.settings.layerSettings.width ? ((+layer.settings.layerSettings.width / 7) + (+layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2 : 5 %>px solid <%= layer.settings.layerSettings.shapeStyles.borderColor %>;"
    ></div>
  </div>
</div>
