<div
  class="triangle"
  style="
    width:<%= layer.settings.layerSettings.width ? +layer.settings.layerSettings.width + (layer.settings.layerSettings.shapeStyles.thickness * 2) : 100 %>px;
    height:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height + (layer.settings.layerSettings.shapeStyles.thickness * 2) : 100 %>px;
    filter:drop-shadow(0px 0px <%= +layer.settings.generalSettings.shadow / 10 %>px #000000)"
>
  <div
    class="inner"
    style="
      bottom:<%= +layer.settings.layerSettings.shapeStyles.thickness * (3/5) %>px;
      border-left:<%= layer.settings.layerSettings.width ? +layer.settings.layerSettings.width / 2 : 50 %>px solid transparent;
      border-right:<%= layer.settings.layerSettings.width ? +layer.settings.layerSettings.width / 2 : 50 %>px solid transparent;
      border-bottom:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height : 100 %>px solid <%= layer.settings.layerSettings.shapeStyles.fillColor %>;"
  ></div>
  <div
    class="outer"
    style="
      border-left:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width + (layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2 : 100 %>px solid transparent;
      border-right:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width + (layer.settings.layerSettings.shapeStyles.thickness * 2)) / 2 : 100 %>px solid transparent;
      border-bottom:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height + (layer.settings.layerSettings.shapeStyles.thickness * 2) : 100 %>px solid <%= layer.settings.layerSettings.shapeStyles.borderColor %>;"
  ></div>
</div>
