<% function scaleValue(width, height, thickness) {
  return (width + height + (thickness * 4)) / (width + height)
}

function bottomValue(width, height, thickness) {
  const bottomValue = thickness * (3/5)
  const scale = scaleValue(width, height, thickness)
  const scaledHeight = height * scale
  const realHeight = height + thickness * 2
  const diff = scaledHeight > realHeight ? scaledHeight - realHeight : realHeight - scaledHeight
  return scaledHeight > realHeight ? bottomValue - diff / 2 : bottomValue + diff / 2
} %>

<div
  class="shape triangle"
  style="
    width:<%= layer.settings.layerSettings.width ? +layer.settings.layerSettings.width + (layer.settings.layerSettings.shapeStyles.thickness * 2) : 100 %>px;
    height:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height + (layer.settings.layerSettings.shapeStyles.thickness * 2) : 100 %>px;
    <% if (layer.settings.generalSettings.shadow > 0) { %>
      filter:drop-shadow(0px 0px <%= +layer.settings.generalSettings.shadow / 10 %>px #000000)
    <% } %>
  "
>
  <div
    class="inner"
    style="
      bottom:<%= bottomValue(+layer.settings.layerSettings.width, +layer.settings.layerSettings.height, +layer.settings.layerSettings.shapeStyles.thickness) %>px;
      border-left:<%= layer.settings.layerSettings.width ? +layer.settings.layerSettings.width / 2 : 50 %>px solid transparent;
      border-right:<%= layer.settings.layerSettings.width ? +layer.settings.layerSettings.width / 2 : 50 %>px solid transparent;
      border-bottom:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height : 100 %>px solid <%= layer.settings.layerSettings.shapeStyles.fillColor %>;"
  ></div>
  <div
    class="outer"
    style="
      border-left:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width) / 2 : 100 %>px solid transparent;
      border-right:<%= layer.settings.layerSettings.width ? (+layer.settings.layerSettings.width) / 2 : 100 %>px solid transparent;
      border-bottom:<%= layer.settings.layerSettings.height ? +layer.settings.layerSettings.height : 100 %>px solid <%= layer.settings.layerSettings.shapeStyles.borderColor %>;
      opacity: <%= layer.settings.layerSettings.shapeStyles && layer.settings.layerSettings.shapeStyles.thickness && layer.settings.layerSettings.shapeStyles.thickness > 0 ? '1' : '0' %>;
      transform:scale(<%= scaleValue(+layer.settings.layerSettings.width, +layer.settings.layerSettings.height, +layer.settings.layerSettings.shapeStyles.thickness) %>);"
  ></div>
</div>
